
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
body{
    background-color:#e0e0e0;
    font-family: 'Titillium Web', sans-serif;
}
.nav-wrapper{
    background-color:#212121;
}
.nav-wrapper a{
    font-size: 18px;
    margin-right: 20px;
}
.page-footer{
    background-color:#212121;
    margin-top: 90px;
    height: 70px;
    width: 100%;
    position: static;    
}

input#myInput{
    width: 20%;
    height: 40px;
    border:grey solid 2px;
    margin-top:10px;
    float:right;
    margin-right: 20px;
    text-align: center;
}
#page2,#page3,#page6,#page7{
    display:none
}
#instagram-icon, #facebook-icon{
    width: 40px;
    height: 40px; 
    font-size: 160%; 
    color:white;   
}
.popular {
    width: 175px;
    height: 300px;
}
div#icons-media{
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    margin-bottom: 5px;
}
.card{
    height: 421px;
}
img.responsive-img, img{
    width: 220px;
    height: 300px;
    padding: 4px;
    cursor: pointer;
    
}
h5{
   font-family:  'Titillium Web', sans-serif;
}
p{
    font-size: 15px
}
img#logo{
    width: 240px;
    height: 33px;
    margin-top:15px;
    margin-left: 20px;
}
.popular2{
    flex-direction: row;
    align-content: flex-end;
    flex-wrap: wrap;
    padding: 25px 0px 30px 0px;
    display: flex;
    justify-content: center;
 
 }
 #movies-popular{
    font-size: 25px;
    margin-top: -80px;
}
 #comments-tittle{
    font-size: 25px;
    margin-top: 20px;
}

#comments-text{
    border: grey solid 2px;
    margin-top: 10px;
    height: 150px;
}

textarea.materialize-textarea{
    border-bottom: none;
    box-shadow: none;
}
textarea#textarea1.materialize-textarea{
    font-size: none;
}

#icons-start{
    padding: 1px;
}

#more-info{
    color:white;
    font-size: 15px;
    margin:8px; 
}

#info-movies{
    width: 550px;
    height: 330px;
    padding: 0%;
    margin-left: 50px;
    margin-top: 60px;
}

#info-trailer{
    
    background-color: #312f2f;
    height: 460px;
    margin-top: -40px;
}

#trailer{
    margin-top: 20px;
    margin-left: 50px;
}

#info-movies, #trailer{
    display: inline-block;
    
}

img.link-movies{
    width: 120px;
    height: 45px;
}
div#infopage6{
    font-size: 17px;
    color: #c4c4c4;
    margin-bottom: -10px;
}
div.select-wrapper span {
    color:#212121;
    font-family:  'Titillium Web', sans-serif;
}
.select-wrapper input.select-dropdown{
    color:#212121;
    font-family:  'Titillium Web', sans-serif;
    font-size: 20px;
}
img#logo{
    width: 200px;
    height: 30px;
    margin-top:15px;
    margin-left: 20px;
}
.tittle-movies{
    font-size: 16px;
    color: #312f2f;  
}
.card .card-content{
    padding:5px;
}
.sidenav-overlay{
    z-index: 995;
}

.slider{
    width: 100%;
    margin: 0px;
   overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 400%;
    margin: -4px;
    animation: cambio 20s infinite alternate linear;
}

.slider li {
    width: 100%;
    list-style: none;
    margin: -8px;
}

.slider img {
    width: 100%;
}
.sidenav-overlay{
    z-index: 995;
}
#search-card{
    width: 400px;
    height: 550px;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}

.imagen-search.responsive-img{
    width: 400px;
    height: 460px;
}

.tittle-search{
    font-size: 18px;
    font-family:  'Titillium Web', sans-serif;
    color:#212121;
}


@keyframes cambio {
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}
    
    50% {margin-left: -200%;}
    70% {margin-left: -200%;}
    
    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
ul#mobile-demo.sidenav{
    background-color: #575353;
    width: 150px;

}

ul#mobile-demo.sidenav a{
    color: #e0e0e0;
    font-size: 18px;
    font-family:  'Titillium Web', sans-serif;

}


@media only screen
and (max-width: 480px){
    
    #myInput{
        display: none;
    }
    
    #info-trailer{
        background-color: #312f2f;
        height: 100%;
        width: 100%;
        margin-top: -40px;
    }
    
    iframe{
        width: 330px;
        height: 200px;
    }

    #info-movies{
        width: 250px;
        height: 200px;
       
    }

}